<mat-card class="news-card">
  <div class="image">
    <a class="img img-2" [style.background-image]="'url('+article.urlToImage+')'"></a>
  </div>
  <div class="content">
    <mat-card-title>
      {{article.title}}
    </mat-card-title>
    <mat-card-content>
      {{article.description}}
    </mat-card-content>
    <mat-card-actions>

    </mat-card-actions>
    <a href="{{article.url}}">
      "Read More"
      <span class="ion-ios-arrow-forward"></span>
    </a>
  </div>
  <div class="actions" *ngIf='isAuthorMe()'>
    <button class="toolbar-item" mat-stroked-button color="accent">Edit</button>
    <button class="toolbar-item" mat-stroked-button color="accent">Delete</button>
  </div>
</mat-card>
