.news-card {
  width: 100%;
  margin-bottom: 3em;
  display: inline-flex ;
  flex-flow: row;
  .image .img{
    display: block;
    height: 150px;
    width: 150px;
    margin:0!important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
}

