<mat-toolbar color="white" *ngIf="isShowToolbar()">
  <mat-toolbar-row>
    <span id="sourceName">{{sourceNameVal}}</span>
  </mat-toolbar-row>
  <mat-toolbar-row >
    <div class="toolbar-container">
      <mat-form-field class="toolbar-item">
        <mat-label>News Source Name</mat-label>
        <mat-select (selectionChange)="onNewsSourChange($event)" [(value)]="selected">
          <mat-option *ngFor="let news of newsSources" [(value)]="news.value">
            {{news.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="toolbar-item" id="filter">
        <input matInput type="text" placeholder="Type your text for filter news" [(ngModel)]="textForFilter">
        <button mat-button  *ngIf="textForFilter" matSuffix mat-icon-button aria-label="Clear" (click)="textForFilter=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <mat-checkbox class="toolbar-item" [value]="checked" (change)="filterByAuthor()">Only created my me</mat-checkbox>
  <button class="toolbar-item" mat-stroked-button color="accent" (click)="onAddArticle()">Add Article</button>
    </div>

  </mat-toolbar-row>
</mat-toolbar>
<app-news-article-add [articles]="articles" [isEdit]="isEditArticle" *ngIf="isAddArticle || isEditArticle" (articlesValueChange)="onAddArticleForm($event)" [articleToEdit]="articleToEdit"></app-news-article-add>
<app-news-content *ngIf="isShowContent()" [articles]="articles" (deleteItem)="updateArticles($event)" (editItem)="editArticle($event)" [searchFilter]="textForFilter" [filterByAuthor]="checked"></app-news-content>
<router-outlet></router-outlet>
