<!-- <div class="container">
  <div class="blog-entry" *ngFor="let article of articles">
    <a class="img img-2" [style.background-image]="'url('+article.imgUrl+')'"></a>
    <div class="text text-2 pl-md-4">
      <h3 class="mb-2">
        <a href=${url}>{{article.title}}</a>
      </h3>
      <div class="meta-wrap">
        <p class="meta">
          <span>
          <i class="icon-calendar mr-2">'{{article.publishAt}} by {{article.author}}'"</i>
          </span>
        </p>
      </div>
      <p class="mb-4">{{article.description}}</p>
      <a href="{{article.url}}">
        "Read More"
        <span class="ion-ios-arrow-forward"></span>
      </a>
    </div>
</div> -->
<div class="main-list">
    <div class="news-card-container" *ngFor="let article of articles">

            <app-news-article [article]="article" (deleteItem)="onDeleteItem($event)" (editItem)="onEditItem($event)"></app-news-article>
      </div>
</div>


